header{
	background-color:#DCDCDC;
	position:relative;
	top:20px;
}
h1{
	size:6;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
li{
	float:left;
}
a:link,a:visited{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#000000;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
a:hover{
	display:block;
	width:120px;
	font-weight:bold;
	color:#000000;
	background-color:#FFFFFF;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
.data{
	background-color:#FFFFFF;
}
footer{
	position:relative;
	top:-101px;
	background-color:#E6E6FA;
	
}
.current{
	position:relative;
	top:-250px;
	left: 800px; 
	background-color:#E6E6FA;
}

