header{
	background-color:#DCDCDC;
	position:relative;
	top:20px;
	width:1125px;
	margin-left:55px;
}
h1{
	size:6;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	margin-left:55px;
}
li{
	float:left;
}
a:link,a:visited{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#000000;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
	
}
a:hover{
	display:block;
	width:120px;
	font-weight:bold;
	color:#000000;
	background-color:#FFFFFF;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
.data{
	background-color:#FFFFFF;
	width:1125px;
	margin-left:55px;
}
footer{
	position:relative;
	top:-90px;
	left:55px;
	background-color:#E6E6FA;
	width:1125px
}
.current{
	position:relative;
	top:-240px;
	left: 800px;
	background-color:#E6E6FA;
	width:300px;
}

