header{
	background-color:#DCDCDC;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
li{
	float:left;
}
a:link,a:visited{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#000000;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
